<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.sts.module.STSBomPlugin.help"
         name="com.sts.module.STSBomPlugin.help"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="com.sts.callout.CalloutProductBOM"
            columnName="M_Product_ID"
            tableName="PP_Product_Bom_Sts">
      </callout>
   </extension>
   <extension
         id="com.sts.process.CoppyProduct"
         name="com.sts.process.CoppyProduct"
         point="org.adempiere.base.Process">
      <process
            class="com.sts.callout.CalloutProductBOM"
            priority="1">
      </process>
   </extension>
   <extension
         id="com.sts.modelvalidator.stsPPProductBomValidator"
         name="com.sts.modelvalidator.stsPPProductBomValidator"
         point="org.adempiere.base.ModelValidator">
      <listener
            class="com.sts.modelvalidator.stsPPProductBomValidator"
            priority="1">
      </listener>
   </extension>
   <extension
         id="com.sts.callout.CalloutOderline"
         name="com.sts.callout.CalloutOderline"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="com.sts.callout.CalloutOderline"
            columnName="QtyOrdered"
            priority="1"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="com.sts.callout.CalloutOderline"
            columnName="PriceList"
            priority="1"
            tableName="C_OrderLine">
      </callout>
   </extension>
   <extension
         id="id1"
         point="org.adempiere.base.Process">
      <process
            class="com.sts.process.ProcessOrder"
            priority="1">
      </process>
   </extension>

</plugin>
